nav {
    height: 50px;
    padding: 20px;
    background-color: honeydew;

    display: flex;
    align-self: center;
    gap: 50px;
}

nav a {
    color:olive;
    text-decoration: none;
    font-size: 20px;
}

nav a:visited {
    color: brown;
}

.digimon-card img {
    width: 100px;
    height: 100px;
}

.digimon-card button {
font-size: 20px;
border-radius: 50%;
width: 25px;
height: 25px;
padding: 0;
}